extends ../layouts/application.pug

block header
  = t('views.tasks.title')

block content
  a.btn.btn-primary.mb-3(href=route('newTask'))= t('views.tasks.new.button')
  +filter(route('tasks'), 'get')(class='mb-3')
    .row
      .col-12.col-md
        +inlineSelect(searchedTask, 'statusId', t('views.tasks.status'), statusSelectData)
      .col-12.col-md
        +inlineSelect(searchedTask, 'executorId', t('views.tasks.executor'), userSelectData)
      .col-12.col-md
        +inlineSelect(searchedTask, 'labelID', t('views.tasks.label'), labelSelectData)
  table.table.table-striped
    thead
      tr
        th= t('views.tasks.id')
        th= t('views.tasks.name')
        th= t('views.tasks.status')
        th= t('views.tasks.creator')
        th= t('views.tasks.executor')
        th= t('views.tasks.createdAt')
    tbody
      each task in tasks
        tr
          td= task.id
          td
            a(href=`/tasks/${task.id}`)= task.name
          td= task.status.name
          td= task.creator.fullName()
          td= task.executor === null ? '' : task.executor.fullName()
          td= task.createdAt
          td
            .d-flex.flex-row
              a.btn.btn-link(href=`/tasks/${task.id}/edit`)= t('views.tasks.edit.button')
              +buttonTo(`/tasks/${task.id}`, 'delete')(class='btn btn-link link-danger' value=t('views.tasks.delete'))
