extends ../layouts/application.pug

block header
  = t('views.tasks.title')

block content
  a.btn.btn-primary(href=route('newTask'))= t('views.tasks.new.button')
  table.table.table-striped
    thead
      tr
        th= t('views.tasks.id')
        th= t('views.tasks.name')
        th= t('views.tasks.status')
        th= t('views.tasks.creator')
        th= t('views.tasks.executor')
        th= t('views.tasks.createdAt')
    tbody
      each task in tasks
        tr
          td= task.id
          td= task.name
          td= task.status.name
          td= `${task.creator.firstName} ${task.creator.lastName}`
          td= task.executor === null ? '' : `${task.executor.firstName} ${task.executor.lastName}`
          td= task.createdAt
          td
            .d-flex.flex-row
              a.btn.btn-link(href=`/tasks/${task.id}/edit`)= t('views.tasks.edit.button')
              +buttonTo(`/tasks/${task.id}`, 'delete')(class='btn btn-link link-danger' value=t('views.tasks.delete'))
