extends ../layouts/application.pug

block header
  = task.name

block content
  .row.mt-5.p-5.shadow.bg-white
    .col-12.col-md-8.order-2.order-md-1
      .lead.fw-normal.mb-4= task.description
    .col-12.col-md-4.border-start.px-3.order-1.order-md-2.mb-3.mb-md-0
      .mb-2
        span.me-1.badge.bg-danger.text-white= task.status.name
      .d-flex.flex-wrap.mb-3
        span.text-muted.me-2= t('views.tasks.creator')
        span= task.creator.fullName()
      .d-flex.flex-wrap.mb-3
        span.text-muted.me-2= t('views.tasks.executor')
        if task.executor !== null
          span= task.executor.fullName()
      .d-flex.flex-wrap.mb-3
        span.text-muted.me-2= t('views.tasks.createdAt')
        span.text-muted.me-2= task.createdAt
      .d-flex.flex-wrap
        a.btn.btn-primary.me-1(href=`/tasks/${task.id}/edit`)= t('views.tasks.edit.button')
        +buttonTo(`/tasks/${task.id}`, 'delete')(class='btn btn-danger' value=t('views.tasks.delete'))
